        <br><br><br><br>
        <footer>
            <hr>
            CST336 Internet Programming. 2020&copy; Center <br/>
            <strong>Disclaimer:</strong> The information on this webpage is used for academic purposes only.
            <br/>
            <img id="csumb_logo" src="/img/csumb_logo.png" alt="CSUMB Logo"/>
        </footer>
    </body>
</html>