<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta charset="utf-8"/>
        <link href="css/styles.css" rel=stylesheet type="text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body>
        <h1>Programming Languages</h1>