        <nav>
            <a href="/">Home</a>
            <a href="java">Java</a>
            <a href="cpp">C++</a>
            <a href="cs">C#</a>
            <a href="python">Python</a>
        </nav>