<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>

        <article>
            <div>
                <h2>C++</h2>
                <h3>Author: <%= name %></h3>
                <p>
                    In 1998, Danish software developer, Bjarne Stroustrup, created an extension to the C language and called it C++.
                    C++ is a powerful, object-oriented programming language that allows programmers to work very closely with system resources and memory.
                </p>
                <p>
                    C++ is also a cross-platform language and is often used in operating systems, GUIs (Graphical User Interfaces), and embedded systems.
                </p>
                <p>
                    C++, Java, and C# all have similar syntax, so if you know one, it is easy to learn the others.
                </p>
                <a href="https://www.w3schools.com/cpp/cpp_intro.asp">Source</a>
            </div>
            <figure>
                <img src="img/cpp_logo.png" alt="C++ Logo"/>
            </figure>
        </article>
        
<%- include("partials/footer.ejs") %>