<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>
        
        <article>
            <div>
                <h2>Introduction</h2>
                <h3>Author: <%= name %></h3>
                <p>A <strong>programming language</strong> is a set of high-level instructions that programmers can use to tell a computer what to do.</p>
                <p>Today, there are hundreds of different programming languages to choose from, but four of the most popular are:</p>
                <ol type='1'>
                    <li>Java</li>
                    <li>C++</li>
                    <li>C#</li>
                    <li>Python</li>
                </ol>
                <p>Click the links in the navigation bar at the top of the screen to learn more about each programming language.</p>    
            </div>
        </article>
        
<%- include("partials/footer.ejs") %>