<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>

        <article>
            <div>
                <h2>Java</h2>
                <h3>Author: <%= name %></h3>
                <p>
                    Java is an object-oriented programming language that was developed in 1995 by Sun Microsystems, but it has since been acquired by Oracle.
                </p>
                <p>
                    When you download Java, you get the JRE (Java Runtime Environment), which consists of the JVM (Java Virtual Machine), Java classes, and 
                    Java libraries. Any computer with the JRE can run Java applications, so Java is a "Write Once, Run Anywhere" language.
                </p>
                <p>
                    Java, C++, and C# all have similar syntax, so if you know one, it is easy to learn the others.
                </p>
                <a href="https://java.com/en/download/help/whatis_java.html">Source</a>    
            </div>
            <figure>
                <img src="img/java_logo.png" alt="Java Logo"/>
            </figure>
        </article>
       
<%- include("partials/footer.ejs") %>