<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>

        <article>
            <div>
                <h2>Python</h2>
                <h3>Author: <%= name %></h3>
                <p>
                    Python is an interpreted, object-oriented programming language developed in the early 1990s by Guido van Rossum. 
                </p>
                <p>
                    With Python, you can write applications with less lines of code than other high-level programming languages like Java, C++, and C#.
                    Python's simple syntax and dynamic typing and binding make it easy to quickly and efficiently develop powerful applications.
                </p>
                <p>
                    For this reason, Python is the language of choice for many Data Scientists and Machine Learning Engineers as well as new programmers.
                </p>
                <a href="https://www.python.org/doc/essays/blurb/">Source</a>
            </div>
            <figure>
                <img src="img/python_logo.png" alt="C# Logo"/>
            </figure>
        </article>
        
<%- include("partials/footer.ejs") %>