html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
    color: #212326;
}

h1 {
    background-color: #4287f5;
    position: fixed;
    margin: 0px;
    padding: 15px;
    width: 100%;
    text-align: center;
}

nav a {
    color: white;
    font-size: 20px;
    padding: 0px 15px 0px 15px;
    text-decoration: none;
}

nav a:hover {
    background-color: white;
    color: #212326;
}

nav {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

article {
    padding: 15px;
    padding-top: 100px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

footer {
    text-align: center;
    padding: 15px;
}

img {
    width: 100px;
    height: auto;
}

figure {
    padding-top: 10%;
}

#navbar {
    width: 100%;
    top: 68px;
    position: fixed;
    background-color: #212326;
    text-align: center;
}

#csumb_logo {
    width: 200px;
}